body{
    color: white;
    background-color: black;
}
h1{
    font-size: 50px ;
    color: blue;
    text-decoration-line: overline;
    background-color:white;
    text-align: center;
}
h2{ 
    font-size: 35px;
    color: blueviolet;
}
p{  
    font-size: 20px;
}