body{
    text-align: center;
    background-color: rgb(252, 238, 213);
}

h2{
    color: rgb(255, 255, 255);
    background-color: black;
}

h1{
    color: rgb(255, 255, 255);
    background-color: black;   
}

input{
    border-radius: 30%;
    width: 150px;
    height: 20px;
}

button{
    width: 150px;
    border-bottom: 50%;
}